
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1>Add New User</h1>
    <form method="POST">
        Name: <input type="text" name="name"><br>
        Birthdate: <input type="text" name="birthdate"><br>
        Gender: <input type="text" name="gender"><br>
        Zodiac: <input type="text" name="zodiac"><br>
        Chinese Year: <input type="text" name="chinese_year"><br>
        <button type="submit">Add User</button>
    </form>
    <a href="{{ url_for('index') }}">Back to Users Management</a>
</body>
</html>
